@model ExamenParcial_Jean.Models.Player
@{
    ViewData["Title"] = "Registrar Jugador";
}

<h2>Registrar Nuevo Jugador</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Nombre</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" style="color:red"></span>
    </div>

    <div>
        <label>Edad</label>
        <input asp-for="Age" type="number" />
        <span asp-validation-for="Age" style="color:red"></span>
    </div>

    <div>
        <label>Posición</label>
        <input asp-for="Position" />
        <span asp-validation-for="Position" style="color:red"></span>
    </div>

    <div>
        <label>Equipo actual</label>
        <select asp-for="Assignments" asp-items="@(new SelectList(ViewBag.Teams, "TeamId", "Name"))">
            <option disabled selected>Seleccione equipo</option>
        </select>
    </div>

    <button type="submit">Registrar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
